<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>213466078271-gc67avhjaa8ml34b8v73mclkseefrmvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213466078271-gc67avhjaa8ml34b8v73mclkseefrmvn</string>
	<key>API_KEY</key>
	<string>AIzaSyAb0PfAunTMUTCGh44Zd1tqywR0ShqIvXM</string>
	<key>GCM_SENDER_ID</key>
	<string>213466078271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nyp.Smart-Device-Developement-Project</string>
	<key>PROJECT_ID</key>
	<string>sddp-project</string>
	<key>STORAGE_BUCKET</key>
	<string>sddp-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213466078271:ios:0e97a0e0c8cae7f5</string>
	<key>DATABASE_URL</key>
	<string>https://sddp-project.firebaseio.com</string>
</dict>
</plist>